body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 100%; 
}

#title {
  font-size: 36px; 
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
}

#tutorial
{
  font-size: 13px;
  letter-spacing: 2px;
  margin: auto;
  background-color: white;
  border : 1px solid black;
  width:50%;
  border-radius: 10px;
  padding: 10px;
  
}

img{
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 0px;
}

.tile {
  /* box */
  border: 1px solid gray;
  background-color: white;

  /* text */
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}